/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop


1em = 16px
*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 40%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  padding: 3rem; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0; } }

::selection {
  background-color: #55c57a;
  color: #fff; }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--main {
        letter-spacing: 1rem; } }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation: moveInRight 1s ease-out; }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--sub {
        letter-spacing: 0.5rem; } }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent;
  transition: 1s all;
  letter-spacing: 1px; }
  .heading-secondary:hover {
    transform: skewY(4deg) skewX(7deg);
    text-shadow: 1px 1px 1px rgba(51, 51, 51, 0.3); }
  @media only screen and (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2rem; } }
  @media only screen and (max-width: 75em) {
    .heading-secondary {
      font-size: 3rem;
      margin-top: 6rem; } }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 2rem; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.btn::after {
  content: '';
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s; }

.btn--animated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards; }

.btn-text {
  font-size: 1.6rem;
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: 3px; }

.header {
  height: 85vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.6), rgba(40, 180, 133, 0.6)), url(../img/hero-small.jpg);
  background-size: cover;
  background-position: top;
  position: relative; }
  @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
    .header {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
      height: 95vh; } }
  @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em), only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em), only screen and (min-width: 125em) {
    .header {
      background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg); } }
  @media only screen and (max-width: 37.5em) {
    .header {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%); } }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 3.5rem; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.section-features {
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.6), rgba(40, 180, 133, 0.6)), url(../img/hero-small.jpg);
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -10rem; }
  .section-features .feature-box-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    padding: 20rem 0;
    transform: skewY(7deg); }
    @media only screen and (max-width: 56.25em) {
      .section-features .feature-box-wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center; } }
    .section-features .feature-box-wrapper .feature-box {
      background-color: rgba(255, 255, 255, 0.8);
      font-size: 1.5rem;
      padding: 2.5rem;
      text-align: center;
      border-radius: 3px;
      width: 25rem;
      height: 30rem;
      border-radius: 1rem;
      cursor: pointer;
      transition: all 0.3s; }
      @media only screen and (max-width: 56.25em) {
        .section-features .feature-box-wrapper .feature-box {
          width: 80%; } }
      .section-features .feature-box-wrapper .feature-box__icon {
        font-size: 6rem;
        margin-bottom: 0.5rem;
        display: inline-block; }
      .section-features .feature-box-wrapper .feature-box:hover {
        transform: translateY(-1.5rem); }

.section-about {
  margin-top: -20vh;
  background-color: #e2e2e2;
  padding-top: 25rem;
  padding-bottom: 25rem; }
  .section-about .row {
    display: flex;
    justify-content: space-around; }
    @media only screen and (max-width: 37.5em) {
      .section-about .row {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 10rem; } }
    .section-about .row .column-1,
    .section-about .row .column-2 {
      width: 45%; }
      @media only screen and (max-width: 37.5em) {
        .section-about .row .column-1,
        .section-about .row .column-2 {
          width: 60%;
          margin-bottom: 8rem; } }
    .section-about .row .composition {
      position: relative; }
      .section-about .row .composition__photo {
        width: 55%;
        position: absolute;
        border-radius: 1rem;
        transition: all 0.5s;
        z-index: 10px;
        outline-offset: 1.5rem; }
        @media only screen and (max-width: 37.5em) {
          .section-about .row .composition__photo {
            width: 40%; } }
        .section-about .row .composition__photo:hover {
          z-index: 50;
          outline: solid 1.4rem #28b485;
          transform: scale(1.1) translateY(-1rem); }
        .section-about .row .composition__photo--p1 {
          top: -2rem;
          left: 0; }
          @media only screen and (max-width: 37.5em) {
            .section-about .row .composition__photo--p1 {
              top: 0;
              left: 0; } }
        .section-about .row .composition__photo--p2 {
          right: 0;
          top: 2rem; }
          @media only screen and (max-width: 37.5em) {
            .section-about .row .composition__photo--p2 {
              top: -2rem;
              left: 18rem;
              z-index: 10; } }
        .section-about .row .composition__photo--p3 {
          left: 20%;
          top: 10rem; }
          @media only screen and (max-width: 37.5em) {
            .section-about .row .composition__photo--p3 {
              top: 0;
              left: 38rem; } }
