.section-about {
    margin-top: -20vh;
    background-color: $color-gray;
    padding-top: 25rem;
    padding-bottom: 25rem;

    .row {
        display: flex;
        justify-content: space-around;

        .column-1,
        .column-2 {
            width: 40%;
        }

        .composition {
            position: relative;

            &__photo {
                position: absolute;
                border-radius: 1rem;
                transition: all 0.2s;
                z-index: 10px;
                outline-offset: 2rem;

                &:hover {
                    outline: 1.5rem;
                    // border: 1.5rem solid $color-primary-light;
                    border-radius: 1rem;
                    transform: scale(1.05) translateY(-0.5rem);
                }
            }

            &__photo--p1 {
                top: -2rem;
                left: 0;
            }

            &__photo--p2 {
                top: 2rem;
                right: 0;
            }

            &__photo--p3 {
                left: 20%;
                top: 10rem;
            }
        }
    }
}
